/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; /* Or whatever font you prefer */
    scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* or height: 100vh */
}