body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  h2 {
    color: #000;
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%; /* Use percentage for width */
    max-width: 1200px; /* Limit the max width */
    margin: 20px auto;
    box-sizing: border-box;
    }

    .image-grid a{
    text-decoration: none; /* Remove underline from links*/
   }

  .image-grid img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    aspect-ratio: 210 / 297; /* Approximated A4 aspect ratio */
  }


   .image-grid .featured {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;

    }
h1 {
    text-align: center;
    margin: 20px 0;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

a{
    text-decoration: none;
}

.swiper-button-prev,
.swiper-button-next {
  height: 30px;
  width: auto;
  margin: 30px;
}